<html>

    <head>
<link rel="stylesheet" href="/css/style.css">
<script src="/css/js.js"></script>
<link rel="icon" href="/image/weather.png">

    </head>
    <body>
        <div class="About">
            {{>header}}
            <img src="/image/robot.jpg">
        </div>
    </body>
</html>