<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/style.css">
        
        <link rel="icon" href="/image/weather.png">

    </head>
    <body>
        <div class="main_content">
            {{>header}}
            <p>
                Use this site to get your Weather!
            </p>
       <form>
           <input>
           <button>Search</button>
       </form>
       <p id="message-1"></p>
       <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="/css/js.js"></script>
    </body>
</html>